canvas {
    display: block;
    margin: 10px auto;
    border: 10px solid #444;
    background: white;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #000;
    overflow: hidden;
}